<div id="content">
<h1>Analizador de PL0 ampliado utilizando PEG.js</h1>
  <p>
  <nav>
  <ul>
    <% programs.each do |p| %>
      <li><a href="<%= p.name %>" <%=current?('/'+p.name)%>><%= p.name %></a></li>
    <% end %>
  </ul>
  </nav>
  <p class="loadfile">
    <input type="file" id="examples" />
  </p>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
          <textarea id="input" name="input" 
                    autofocus cols = "80" rows = "6">
<%= source %>
          </textarea>
          <br/>
          <label for="saveas"><b>Guardar como:  </b><input id="saveas" type="text" name="fname" 
                 title="name" pattern="\w+" /></label>
          
        </form>
      </td>
    </tr>
  </table>
  <button id="parse" type="button">Analizar</button>
  </p>
  <div class="output">
    <pre>
<span id="output"></span>
    </pre>
  </div>
</div>

    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("input"), {
        lineNumbers: true,
        viewportMargin: Infinity,
        mode: "text/x-pascal"
      });

    
      function dump(fileName) {
        $.get(fileName, function (data) {
          $("#input").val(data);
            editor.setValue(data);
        });
      };
      
      document.getElementById('files').addEventListener('change', CopyMe, false);

        function CopyMe(evt) {
          var file = evt.target.files[0];
          if (file) {
            var reader = new FileReader();
            reader.onload = function(e) { 
              editor.setValue(e.target.result);
            }
            var c = reader.readAsText(file);
          }
          else { alert("Failed to load file"); }
        }
   </script>
<script src="pl0.js"></script>
<script src="main.js"></script>
